@font-face {
    font-family: 'Venice';
    src: url(fonts/venice_classic/VeniceClassic.ttf);
}

.lucyabout {
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    border-radius: 50%;
    transition-duration: 0.4s;
    
}

.lucyabout:hover {
    transform: translateY(-5px);
}

.abouttop {
    position: relative;
    left: 60px;
    background-color: rgba(206, 188, 254, .5);
    border: 2px dotted grey;
    border-radius: 10px;
    width: 90%;
    height: 200px;
}

.toppara {
font-family: 'Venice';
color: rebeccapurple;
font-size:xx-large;
position: relative;
top: 10px;
text-align: center;
    
}

.aboutpara {
    display: block;
    position: relative;
    left: 5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: rebeccapurple;
    margin-top: 2em;
    width: 80%;
}

h3 {
    font-family: 'Venice';
    font-size: xx-large;
   color: rgba(206, 188, 254);
  
}

.corn:hover {
    transition-duration: 0.2s;
    transform: translateY(-5px);
}

