body {
    background-image: url('images/move_heart.gif');
}

.favs {
    color: rgb(255, 210, 233);
}

.favs h2 {
    font-family: 'Dancing Script', serif;
    font-size: 40px;
    text-shadow: 1px 0 0 rgb(255, 193, 7);
    margin: 10px;
}

hr {
    border-top: 2px dotted grey;
    width: 80%;
}

.nav a {
    color: rgb(234, 172, 183);
}

.favouriteList {
    padding: 10px;
}


.favsCss {
    display: flex;
    justify-content: center;
    
}

.newbtn {
    width: 6%;
    background: transparent;
    border: none;
    transition-duration: 0.3s;
    margin: 10px;
    
}

.newbtn:hover {
    transform: translateY(-5px);
}

.newbtn:active {
    transform: translateY(5px);
}

.newtextcss {
    padding: 10px;
    width: 23em;
    border-radius: 5px;
    border: 2px dotted grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.css-submit-btn {
    font-family: 'Venice';
    font-size: larger;
    background-color: rgb(255, 236, 245);
    color:palevioletred;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
    transition-duration: 0.3s;

}

.css-submit-btn:hover {
    background-color: rgb(255, 210, 233);
    color: rgb(252, 44, 92);
    transform: translateY(-10px);
    box-shadow: 8px 10px 2px 1px rgba(0, 0, 255, .2); 
}

.favcontent {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: x-large;
    color: rgb(234, 172, 183);
}

.deletebtn {
    font-family: 'Venice';
    font-size: x-large;
    width: 10%;
    padding: 10px;
    background-color: rgb(255, 236, 245);
    color: palevioletred;
    border-radius: 10px;
    border: none;
    transition-duration: 0.4s;
    margin: 10px;
    cursor: pointer;
}

.deletebtn:hover {
    background-color: rgb(255, 210, 233);
    color: rgb(252, 44, 92);
    transform: translateY(-10px);
    box-shadow: 10px 12px 2px 1px rgba(0, 0, 255, .2); 
}


li {
    font-size: x-large;
    padding: 2px;
    width: 60%;
    margin: auto;
    text-align: center;
    list-style-type: none;
}

.cssRemove {

font-family: 'Venice';
font-size: large;
padding: 5px;
margin: 1em;
background-color: aliceblue;
color: blueviolet;
border: none;
border-radius: 5px;
transition-duration: 0.4s;

}

.cssRemove:hover {
    background-color: lavender;
    color: rgb(252, 44, 92);
    transform: translateY(-5px);
    box-shadow: 8px 10px 2px 1px rgba(0, 0, 255, .2);
}

.footer {
    font-family: 'Venice';
    font-size: large;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: rebeccapurple;
    padding: 10px;
}

.ham1 {
    position: absolute;
    bottom: 2.5em;
    left: 2em;
    
}
.ham2 {
    position: absolute;
    bottom: 2.5em;
    right: 2em;
   
}

